.personal-input .o_input {
    border: none !important;
    padding: 0 !important;
    background-color: transparent !important;
    margin-bottom: 0 !important;
}

.margen-bot-0 {
    margin-bottom: 0px !important;
}

.white-background {
    background-color: white !important;
    border-left: 0 !important;
}

.border-box {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    max-height: 600px;
    overflow-y: auto;
}

.card_body_custom .o_list_renderer {
    margin-bottom: 0 !important;
}

.card_body_custom .o_x2m_control_panel {
    margin-bottom: 0 !important;
}

.card_body_custom {
    background-color: #e5e7eb !important;
}

.tree_footer_custom .o_list_footer {
    border-collapse: separate;
    border-spacing: 0 10px;
    background-color: #e5e7eb;
    color: #28a745;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 0 0 10px 10px;
}

.tree_footer_custom .o_list_footer tr>td:nth-last-child(2) {
    position: relative;
    padding-left: 3rem;

}

.tree_footer_custom .o_list_footer tr>td:nth-last-child(2)::before {
    content: "Total";
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
}

.tree_footer_custom .o_list_table thead th {
    border-bottom: 2px solid #ccc !important;
}
