# Puerto del servidor
PORT=4000

# URL base de Odoo
API_ODOO_URL=http://localhost:10017

# Credenciales del usuario web limitado de Odoo
API_ODOO_DATABASE=dev
API_ODOO_LIMITED_WEB_USER=admin
API_ODOO_LIMITED_WEB_USER_PASSWORD=admin

# CORS: origins permitidos (separados por coma)
CORS_ORIGINS=http://localhost:3000
