# EditorConfig is awesome: https://EditorConfig.org
# top-most EditorConfig file
root = true

# Global settings
[*]
charset = utf-8
end_of_line = lf
max_line_length = 100

# Python files
[*.py]
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true

# Odoo XML files
[*.xml]
indent_style = space
indent_size = 2
tab_width = 2
trim_trailing_whitespace = true

# Overrides for specific file types
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 4
tab_width = 4

[*.json]
indent_style = tab
indent_size = 2
tab_width = 2
